<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageName</key>
	<array>
		<string>Yalantis2.png</string>
		<string>superman1.png</string>
		<string>spider-man1.png</string>
		<string>santa1.png</string>
		<string>batman1.png</string>
		<string>robocop1.png</string>
		<string>harry potter1.png</string>
		<string>Terminator1.png</string>
		<string>hellboy1.png</string>
		<string>hulk1.png</string>
	</array>
	<key>name</key>
	<array>
		<string>1. Yalantis-Man</string>
		<string>2. Superman</string>
		<string>3. Spider-Man</string>
		<string>4. Santa</string>
		<string>5. Batman</string>
		<string>6. Robocop</string>
		<string>7. Harry Potter</string>
		<string>8. Terminator</string>
		<string>9. Hellboy</string>
		<string>10. Hulk</string>
	</array>
</dict>
</plist>
